<nav class="navbar navbar-expand-lg navbar-primary bg-primary">
    <div class="container px-4 px-lg-5">
        <a class="navbar-brand text-light fw-bolder" routerLink=""> <i class="fa fa-shop "></i> &nbsp; Mini-cart</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
       <div class="ms-5">
        <input (keyup)="search($event)" type="text" name="" id="" placeholder="Search Your Products 🔎" class="form-control" style="width:500px;">
       </div>
                
            <form class="d-flex ">
                <!-- wishlist button -->
                <button class="btn btn-outline-light fw-bolder ms-5 " type="submit" routerLink="products/wishlist">
                    <i class="fa-solid fa-heart fa-fade text-danger"></i>
                   Wishlist
                    
                </button>
                <!-- cart button -->
                <button class="btn btn-outline-light fw-bolder ms-5 " type="submit" routerLink="products/cart">
                    <i class="fa-solid fa-cart-shopping fa-fade text-warning"></i>
                    Cart
                    <span class="badge bg-white text-dark ms-1 rounded-pill">{{cartCount}}</span>
                </button>
            </form>
        </div>
    </div>
</nav>
<!-- Header-->
