<div class="container text-center">
    <h1 style="font-size: 80px; margin-top: 100px; text-shadow: 2px 3px 5px black;" class="text-primary fw-bolder">We're sorry !</h1>
<h5 style="text-transform: capitalize;" class="fw-bolder">The page you have requsted cannot be found</h5>
<div class="alert alert-primary" role="alert" style="text-transform: capitalize;">
may be the page was moved or deleted or perhaps you just mistype this address <br>
why not  try and find your way using button below click to navigate to homepage



  </div>
<div style="padding: 43px;">
    <button class="btn btn-outline-primary "routerLink=""> back to home</button>
</div>

</div>